h1 {font-family : Rockwell; color : #FF0033; font-weight: light}
h2 {font-family : snap itc; color :#AABB55; font-weight: bold; font-style: italic }
h3 {font-family : times ; color : #6FFA01; font-weight: bolder; font-style: italic }
p {border-width:5px; border-style:solid;}

#MENU_BD, #MENU_BD ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#MENU_BD li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}
#MENU_BD ul li{
display:inherit;
border-radius:0;
}
#MENU_BD ul li:hover{
border-radius:0;
}
#MENU_BD ul li:last-child{
border-radius:0 0 8px 8px;
}
#MENU_BD ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#MENU_BD li:hover ul{
max-height:15em;
}
/* background des liens menus */
#MENU_BD li:first-child{
background-color: #65537A;
background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
#MENU_BD li:nth-child(2){
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
#MENU_BD li:nth-child(3){
background-color: #F6AD1A;
background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
#MENU_BD li:nth-child(4){
background-color: #AAAA1A;
background-image:-webkit-linear-gradient(top, #AAAA1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #AAAA1A 0%, #9F391A 100%);
}
#MENU_BD li:nth-child(5){
background-color: #ABCB1A;
background-image:-webkit-linear-gradient(top, #ABCB1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #ABCB1A 0%, #9F391A 100%);
}
#MENU_BD li:nth-child(6){
background-color: #678C1A;
background-image:-webkit-linear-gradient(top, #678C1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #678C1A 0%, #9F391A 100%);
}
#MENU_BD li:nth-child(7){
background-color: #DD345A;
background-image:-webkit-linear-gradient(top, #DD345A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #DD345A 0%, #9F391A 100%);
}
#MENU_BD li:nth-child(8){
background-color: #EEEE1A;
background-image:-webkit-linear-gradient(top, #EEEE1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #EEEE1A 0%, #9F391A 100%);
}
#MENU_BD li:nth-child(9){
background-color: #FFFF1A;
background-image:-webkit-linear-gradient(top, #FFFF1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #FFFF1A 0%, #9F391A 100%);
}
#MENU_BD li:nth-child(10){
background-color: #CDEF1A;
background-image:-webkit-linear-gradient(top, #CDEF1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #CDEF1A 0%, #9F391A 100%);
}

#MENU_BD li:last-child{
background-color: #CFFF6A;
background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}
/* background des liens sous menus */
#MENU_BD li:first-child li{
background:#2A2333;
}
#MENU_BD li:nth-child(2) li{
background:#333A40;
}
#MENU_BD li:nth-child(3) li{
background:#9F391A;
}
#MENU_BD li:nth-child(4) li{
background:#63391A;
}
#MENU_BD li:nth-child(5) li{
background:#8D291A;
}
#MENU_BD li:nth-child(6) li{
background:#7C391A;
}
#MENU_BD li:nth-child(7) li{
background:#6B391A;
}
#MENU_BD li:nth-child(8) li{
background:#5A391A;
}
#MENU_BD li:nth-child(9) li{
background:#8FB91A;
}
#MENU_BD li:nth-child(10) li{
background:#BBE91A;
}

#MENU_BD li:last-child li{
background:#677F35;
}
/* background des liens menus et sous menus au survol */
#MENU_BD li:first-child:hover, #MENU_BD li:first-child li:hover{
background:#65537A;
}
#MENU_BD li:nth-child(2):hover, #MENU_BD li:nth-child(2) li:hover{
background:#729EBF;
}
#MENU_BD li:nth-child(3):hover, #MENU_BD li:nth-child(3) li:hover{
background:#F6AD1A;
}
#MENU_BD li:nth-child(4):hover, #MENU_BD li:nth-child(4) li:hover{
background:#AAAA1A;
}
#MENU_BD li:nth-child(5):hover, #MENU_BD li:nth-child(5) li:hover{
background:#ABCB1A;
}
#MENU_BD li:nth-child(6):hover, #MENU_BD li:nth-child(6) li:hover{
background:#678C1A;
}
#MENU_BD li:nth-child(7):hover, #MENU_BD li:nth-child(7) li:hover{
background:#DD345A;
}
#MENU_BD li:nth-child(8):hover, #MENU_BD li:nth-child(8) li:hover{
background:#EEEE1A;
}
#MENU_BD li:nth-child(9):hover, #MENU_BD li:nth-child(9) li:hover{
background:#FFFF1A;
}
#MENU_BD li:nth-child(10):hover, #MENU_BD li:nth-child(10) li:hover{
background:#CDEF1A;
}
#MENU_BD li:last-child:hover, #MENU_BD li:last-child li:hover{
background:#CFFF6A;
}
/* les a href */
#MENU_BD a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#MENU_BD ul a{
padding:8px 0;
}
#MENU_BD li:hover li a{
color:#fff;
text-transform:inherit;
}
#MENU_BD li:hover a, #MENU_BD li li:hover a{
color:#000;
}
